.a-da-SwCWWe, .a-da-Hd {
  display: none !important;
}

.elf7ye {
  display: none !important;
}

.wTSeR {
  display: none !important;
}

.a-dkl3Ye .a-U-J {
  border-radius: 0 5px 5px 0 !important;
  -webkit-border-radius: 0 5px 5px 0 !important;
}

.Kzazxf.x6jRSb {
  display: none !important;
}

.a-da-U>.a-U-xc {
  padding-right: 30px !important;
}

.V {
  display: none;
}

.ub-ml-Pr.USrqEe-ml-Pr-qc-j::before {
  display: none;
}

.a-D-gc-wKOTTc .a-D-B-x {
  margin-top: 5px !important;
}

.ub-ml-Pr-c-j {
  display: none;
}

.gb_la {
  display: none;
}

.gb_ia {
  width: auto !important;
  border: none !important;
  margin-left: 4px !important;
}

.gb_Sc {
  padding-left: 0 !important;
}

.a-dkl3Ye .a-da-Mf-B::before {
  display: none !important;
}

.gb_sa:not(.gb_ta) .gb_Md {
  padding: 15px 8px !important;
}

.a-nEbBXb .a-D-B .a-c-d {
  margin: 0px !important;
}

.gb_ne .gb_Vc {
  display: none;
}