.ZtL5hd, .qISYgf, .q1j8lf, body.geSgge .qOsM1d.X8eWK { display: none !important; }
.cr5Gle { padding-top: 0 !important; }
.dwlvNd, .LXjtcc { display: none !important; }
.qOsM1d.qbOKL-NBtyUd { padding-top: 30px !important; }
.GXlaye.qRI4pc { display: none !important; }
.d6McF, .h8Aqhb { display: none !important; }
.gb_la, .gb_Kc { display: none !important; }
.gb_ia { width: auto !important; }
.gb_C .gb_D, .gb_E .gb_C .gb_D { display: none !important; }
.gb_Tc { padding-left: 10px !important; }
.akJTWe > span { display: none !important; }
.g3dbUc.UflSff { opacity: 0.5 !important; }
.yzYBvd.F262Ye { opacity: 0.75 !important; }
.N2RpBe .TCA6qd { top: 6px !important;}
#dws12b > .C8Dkz { height: auto !important; }
#dws12b > .C8Dkz > .XXcuqd:nth-child(3) { display: none !important; }
#dws12b > .C8Dkz > .XXcuqd:nth-child(4) { display: none !important; }
#dws12b > .C8Dkz > .XXcuqd:nth-child(5) { display: none !important; }
#dws12b > .C8Dkz > .XXcuqd:nth-child(7) { display: none !important; }
#dws12b > .C8Dkz > .XXcuqd { transform: none !important; position: relative !important; }
.e19J0b, .uQ1ixe, .I12f0b .snByac { display: none !important; }
.qOsM1d { padding-top: 12px !important; }
.HDIIVe {
  background-image: url("https://cdn.dribbble.com/users/730703/screenshots/9781556/media/f3ffecdc2c76a7f65090742e95307d30.jpg")  !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: -10% 71% !important;
  background-size: 32% !important;
}
.gb_sa.gb_Se .gb_ed { padding: 0 !important; }
.gb_ia { border: none !important; background-color: white !important; border-radius: 50% !important; }
.g3dbUc.jKgTF { border-radius: 1px !important; }
body.geSgge .zhRc7 { opacity: 0.5 !important; border-radius: 0 !important; margin-left: 8px !important; width: 4px !important; height: 20px !important; }
body.geSgge .g3dbUc { height: 20px !important; margin-left: 8px !important;  }
.g3dbUc.PT41Tc:not(.JRw8kf) { margin-left: 12px !important; }
body.geSgge .g3dbUc::before { opacity: 0 !important; }
body.geSgge .g3dbUc > span { display: block !important; white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }
.gb_0c .gb_8d { display: none !important; }
.kxh2c.AHjck.dBA1M.sUvU0d, .mrslJ { display: none !important; }
.p261Pc { padding-right: 5px !important; padding-bottom: 20px !important;}
.shdZ7e { padding: 0 !important; }
.mvRfff { margin-right: 40px !important; }
.ZX9XLb { margin-bottom: -20px !important;}


