.zA>td.apU {
  display: none;
}
.bA4 {
  margin-left: 8px;
}
.asa.bjy {
  display: none
}
.kQYfzd, .aeG { display: none; }
.gb_la { display: none; }
.gb_ia { width: auto; border: none;  }
.gb_sa.gb_Re .gb_Pa.gb_ed { padding: 0;}
.gb_rc { display: none; }
.gb_0c { margin-left: 10px; }
.yE { display: none; }
.aeN .z0>.L3 { box-shadow: none; border-width: 1px; border-style: solid; border-color: #eaeaea; border-radius: 10px }
.z0>.L3::before { display: none; }
.aeN .z0>.L3 { padding: 0px 24px; }
.z0>.L3 { height: auto; margin-left: 10px}
.TN {margin: 3px; }
.wT { max-width: 1000px; min-width: 0; margin-right: 75px; }

.BltHke  > .G-atb { display: none; }
.aia { margin-top: 14px }
.Cr .yj { display: none; }
.gb_pe .gb_Wc { display: none; }
.bkK { margin-left: -30px; margin-right: 15px;}

/* hiding statuses */
.HHWV { display: none}

.zw, .n6 { display: none; }
.ar { border-radius: 1px !important; opacity: 0.75; }
.zA>.yX { padding-right: 10px; }
.aeJ, .age { overflow-x: hidden; }
.gb_sa:not(.gb_ta) .gb_Nd { padding: 10px 5px }
.zA { padding-bottom: 6px; padding-top: 6px; transition: box-shadow .2s; }
.zA:hover { box-shadow: 1px 1px 4px 1px #C9C9C9 !important; }
.zA>.WA { display: none; }
.aeF { margin-right: 15px;}